.projects{

    padding:120px 10%;

    background-size:cover;

    background-position:center;

    background-attachment:fixed;

}



/* Header */

.projects-header{

    text-align:center;

    margin-bottom:60px;

}



.projects-header h2{

    font-size:3rem;

    color:white;

    margin-bottom:15px;

}



.projects-header p{

    color:#e5e7eb;

    font-size:1.2rem;

    max-width:700px;

    margin:auto;

    line-height:1.8;

}




.projects-grid{

    max-width:1150px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}




.project-card{

    background:rgba(255,255,255,.92);

    padding:35px;

    border-radius:22px;

    border-top:5px solid #2563eb;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

    transition:.35s ease;

    cursor:pointer;

    text-decoration:none;

    color:inherit;

}



.project-card:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 50px rgba(0,0,0,.35);

}



.project-icon{

    font-size:2.5rem;

    margin-bottom:20px;

}



.project-card h3{

    color:#111827;

    font-size:1.45rem;

    margin-bottom:12px;

}



.project-card h4{

    color:#2563eb;

    font-size:1rem;

    margin-bottom:18px;

}



.project-card p{

    color:#4b5563;

    line-height:1.8;

}



.project-badge{

    display:inline-block;

    background:#dbeafe;

    color:#2563eb;

    padding:6px 14px;

    border-radius:20px;

    font-size:.85rem;

    font-weight:600;

    margin-bottom:18px;

}



.project-details{

    font-size:.95rem;

    font-weight:600;

}



.project-tech{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin:20px 0;

}



.project-tech span{

    background:#eff6ff;

    color:#2563eb;

    padding:7px 14px;

    border-radius:20px;

    font-size:.85rem;

    font-weight:600;

}



.project-btn{

    color:#2563eb;

    font-weight:700;

}



@media(max-width:900px){

    .projects-grid{

        grid-template-columns:1fr;

    }


    .projects-header h2{

        font-size:2.3rem;

    }

}