.skills {

    padding:120px 10%;

    background-image:
    linear-gradient(
        rgba(15,23,42,0.65),
        rgba(15,23,42,0.75)
    ),
    url("../assets/skillsbg.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    color:white;

}





.skills-header{

    text-align:center;

    max-width:750px;

    margin:0 auto 70px;

}


.skills-header h2{

    font-size:3rem;

    color:white;

    margin-bottom:15px;

}


.skills-header p{

    color:#e5e7eb;

    font-size:1.15rem;

    line-height:1.7;

}





.skills-grid{

    max-width:1100px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}





.skill-card{


    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(12px);

    -webkit-backdrop-filter:blur(12px);


    border:1px solid rgba(255,255,255,0.25);


    padding:35px 20px;

    border-radius:22px;

    text-align:center;


    transition:.3s ease;


}





.skill-card:hover{

    transform:translateY(-10px);

    background:rgba(255,255,255,0.25);

    box-shadow:0 20px 40px rgba(0,0,0,.3);

}





.skill-icon{

    font-size:3rem;

    color:#60a5fa;

    margin-bottom:20px;

}





.skill-card h3{

    color:white;

    font-size:1.2rem;

    margin-bottom:15px;

}





.skill-card span{


    background:#2563eb;

    color:white;


    padding:7px 15px;


    border-radius:25px;


    font-size:.85rem;


    font-weight:600;


}





@media(max-width:1000px){

    .skills-grid{

        grid-template-columns:repeat(2,1fr);

    }

}





@media(max-width:600px){


    .skills{

        padding:90px 5%;

    }


    .skills-grid{

        grid-template-columns:1fr;

    }


    .skills-header h2{

        font-size:2.2rem;

    }

}